* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #1f2024;
}

#nav {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 2rem;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(10px);
	background-color: transparent;
	box-shadow: 0 4px 20px -6px #222327;
}

#nav-items {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	list-style-type: none;
}

#nav-items a {
	color: white;
	transition: all 0.2s ease-in-out;
	font-weight: 500;
	text-decoration: none;
}

.current a {
	color: #23c476 !important;
}

.current a:hover, .current a:focus  {
	color: white !important;
}

.nav-items a:hover, .nav-items a:focus {
	color: #23c476;
	cursor: pointer;
}

.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 0 0;
    height: 100vh;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #28292e;
	color: white;

}

footer p {
	opacity: 70%;
}

.foot-links {
	display: flex;
	flex-direction: row;
	gap: 0.7rem;
}

.f-link a {
	color: #bcbdbe;
	font-size: 1.2rem;
	margin-right: 2rem;
	transition: all 0.2s ease-in-out;
}

.f-link a:hover {
	cursor: pointer;
	color: #23c476;
	transition: all 0.2s ease-in-out;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1000px) {
    #nav {
		display: none;
	}
	#mobile_menu {
		display: block;
	}

    .news-container {
        padding-top: 2rem;
    }
}
@media only screen and (max-width: 600px) {
	footer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}
